In [1]:
import pandas as pd
import numpy as np

In [2]:
# confirmed_global
confirmed_global='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
covid19_confirmed=pd.read_csv(confirmed_global,index_col='Country/Region')


# confirmed_latest
confirmed_latest = covid19_confirmed.T.index.values[-1]
# display(confirmed_latest)

# df_confirmed
df_grouped_conf=covid19_confirmed.groupby('Country/Region').sum()

# display(df_grouped_conf.head(10))
df_confirmed=df_grouped_conf.sort_values(by=confirmed_latest,ascending=False).head(10).drop(['Lat', 'Long'],axis=1).T
# display(df_grouped_conf)
display(df_confirmed)

# display(df_confirmed)
# df_confirmed_total
covid19_confirmed.loc["Total"] = covid19_confirmed.sum()
df_confirmed_total=covid19_confirmed.iloc[-1,4:]

# confirmed_latest

Country/Region,US,Brazil,India,Russia,Peru,Chile,United Kingdom,Mexico,Spain,Iran
1/22/20,1,0,0,0,0,0,0,0,0,0
1/23/20,1,0,0,0,0,0,0,0,0,0
1/24/20,2,0,0,0,0,0,0,0,0,0
1/25/20,2,0,0,0,0,0,0,0,0,0
1/26/20,5,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
7/3/20,2795361,1539081,648315,666941,295599,288089,285787,245251,250545,235429
7/4/20,2841241,1577004,673165,673564,299080,291847,286412,252165,250545,237878
7/5/20,2891124,1603055,697413,680283,302718,295532,286931,256848,250545,240438
7/6/20,2936077,1623284,719664,686852,305703,298557,287290,261750,251789,243051
7/7/20,2996098,1668589,742417,693215,309278,301019,287874,268008,252130,245688

In [3]:
# deaths_global
deaths_global='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
covid19_deaths=pd.read_csv(deaths_global,index_col='Country/Region')

# deaths_latest
deaths_latest = covid19_deaths.T.index.values[-1]

# df_deaths
df_grouped_deaths=covid19_deaths.groupby('Country/Region').sum()
df_deaths=df_grouped_deaths.sort_values(deaths_latest,ascending=False).head(10).drop(['Lat', 'Long'],axis=1).T

# df_deaths_total
covid19_deaths.loc["Total"] = covid19_deaths.sum()
df_deaths_total=covid19_deaths.iloc[-1,4:]

deaths_latest

'7/7/20'

In [4]:
# recovered_global
recovered_global='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
covid19_recovered=pd.read_csv(recovered_global,index_col='Country/Region')

# recovered_latest
recovered_latest = covid19_recovered.T.index.values[-1]

# df_recovered
df_grouped_recv=covid19_recovered.groupby('Country/Region').sum()
df_recovered=df_grouped_recv.sort_values(recovered_latest,ascending=False).head(10).drop(['Lat', 'Long'],axis=1).T

# df_recovered_total
covid19_recovered.loc["Total"] = covid19_recovered.sum()
df_recovered_total=covid19_recovered.iloc[-1,4:]

recovered_latest

'7/7/20'