<span style="color:red; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:2em;">An Exception was encountered at '<a href="#papermill-error-cell">In [1]</a>'.</span>

# See this in [nbviewer](https://nbviewer.jupyter.org/github/shinokada/covid-19-stats/blob/master/latest/uk-japan.ipynb).

# See this in [Binder](https://mybinder.org/v2/gh/shinokada/covid-19-stats/master)

<a href="https://mybinder.org/v2/gh/shinokada/covid-19-stats/master" target="_blank"><img src="https://mybinder.org/badge_logo.svg"/></a>

<span id="papermill-error-cell" style="color:red; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:2em;">Execution using papermill encountered an exception here and stopped:</span>

In [1]:
%run covid-19-data.ipynb
%run multiplot.ipynb

import pandas as pd
import numpy as np
import plotly.graph_objects as go

Country/Region,US,India,Brazil,France,Turkey,Russia,United Kingdom,Italy,Spain,Germany
1/22/20,1,0,0,0,0,0,0,0,0,0
1/23/20,1,0,0,0,0,0,0,0,0,0
1/24/20,2,0,0,2,0,0,0,0,0,0
1/25/20,2,0,0,3,0,0,0,0,0,0
1/26/20,5,0,0,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
4/24/21,32045113,16960172,14308215,5534656,4591416,4699988,4418710,3949517,3468617,3291293
4/25/21,32077178,17313163,14340787,5559121,4629969,4708640,4420443,3962674,3468617,3306692
4/26/21,32124869,17636186,14369423,5565080,4667281,4717321,4422562,3971114,3488469,3312653
4/27/21,32175725,17997113,14441563,5595403,4710582,4725252,4425259,3981512,3496134,3338564
4/28/21,32229327,17997267,14521289,5626985,4751026,4732981,4427390,3994894,3504799,3366827

ModuleNotFoundError: No module named 'plotly'

In [ ]:
df_conf=df_grouped_conf.loc[['United Kingdom','Japan']].drop(['Lat', 'Long'],axis=1).T

In [ ]:
multi_plot(df_conf, title="Logarithmic COVID-19 time series total confirmed by in UK and Japan")

In [ ]:
df_deat=df_grouped_deaths.loc[['United Kingdom','Japan']].drop(['Lat', 'Long'],axis=1).T
multi_plot(df_deat, title="Logarithmic COVID-19 time series total confirmed by in UK and Japan")

In [ ]:
df_recov=df_grouped_recv.loc[['United Kingdom','Japan']].drop(['Lat', 'Long'],axis=1).T
multi_plot(df_recov, title="Logarithmic COVID-19 time series total confirmed by in UK and Japan")